html {
    background: url('../imagenes/fondo.jpg') no-repeat center fixed; 
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}





img {
    max-width: 100%;
    height: auto;
}

#cabecera_imagen {border-style: solid;
border-radius: 32px;}

#cabecera_borde { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url("../imagenes/border.png") 30 stretch; 
    -o-border-image: url("../imagenes/border.png") 30 stretch; 
    border-image: url("../imagenes/border.png") 30 stretch;
    letter-spacing: 3px;
    background-color:rgb(255,0,0);opacity:0.6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: hsl(63, 60%, 68%);
}


ul.nav li {float: left;}


ul.nav li button {
	background-color: hsl(338, 47%, 49%);
    display: block;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    padding: 16px 32px;
    font-size: 16px;
    text-decoration: none;
}

ul.nav li button:hover:not(.activo) {background-color: hsl(346, 66%, 66%);}

ul.nav li button.activo {background-color: hsl(141, 60%, 45%);}

ul.nav li.derecha {float: right;}

@media screen and (max-width: 600px){
    ul.nav li.derecha, 
    ul.nav li {float: none;}
}


.tabla-responsive {
	overflow-x:auto;
}


#datosUsuario {
	margin: auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}


#datosUsuario tr {
    background-color: white;
}

#datosUsuario td, th {
	text-align: center;
	 border: 1px solid black;
     padding: 8px;
}

mark {
    background-color: red;
    color: white;
}


table {
	font-family: "Lucida Sans", sans-serif;
	border-collapse: collapse;
	margin: auto;


}

tr{
	background-color:hsl(63, 80%, 62%);
}



td, th {
	 text-align: center;
	 border: 1px solid hsl(37, 66%, 58%);
     padding: 8px;
}

tr:nth-child(even){background-color: hsl(56, 80%, 60%);}

tr:hover {background-color: hsl(37, 66%, 58%);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: hsl(337, 60%, 28%);
    color: white;
}

.paginacion {
    display: inline-block; 
}

.paginacion button {
    background-color: hsl(67, 91%, 50%);
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    padding: 10px 18px;
    font-size: 10px;
    text-decoration: none;
}


.paginacion button.actual {
  background-color: hsl(28, 91%, 48%);
}



.paginacion button:hover:not(.actual) {background-color: hsl(60, 4%, 41%);}


form.boton {
	 display: inline-block;
}


.texto { 
    border: 3px solid transparent;
    padding: 5px;
    background-color:rgba(254, 255, 0, 0.67);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
}

.texto2 { 
    border: 3px solid transparent;
    padding: 5px;
    background-color: hsla(21, 100%, 57%, 0.63);
    text-align: center;
    color: white;
}

.texto3 { 
    border: 3px solid transparent;
    padding: 5px;
    background-color: rgba(71, 150, 52, 0.63);
    text-align: center;
    color: white;
}

.texto4 { 
    border: 3px solid transparent;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.63);
    text-align: center;
    color: black;
}

.texto5 { 
    border: 3px solid transparent;
    padding: 5px;
    background-color: rgba(85, 138, 187, 0.63);
    text-align: center;
    color: white;
}

.texto6 { 
    border: 3px solid transparent;
    padding: 5px;
    background-color: rgba(221, 40, 19, 0.63);
    text-align: center;
    color: white;
}

.texto7 { 
    padding: 5px;
    text-align: center;
}




.texto5 td  {
	color:black;
}

.botonAccion1 {
    background-color: rgb(195, 21, 44);
    color: white;
    text-align: center;
    padding: 12px 24px;
    font-size: 12px;
    text-decoration: none;
    
}


.botonAccion2 {
    background-color: #493496;
    color: white;
    text-align: center;
    padding: 4px 12px;
    font-size: 12px;
    text-decoration: none;
    
}


.botonAccion3 {
    background-color: #479634;
    color: white;
    text-align: center;
    padding: 12px 24px;
    font-size: 12px;
    text-decoration: none;
    
}

.botonAccion4 {
    background-color: rgb(195, 21, 44);
    color: white;
    text-align: center;
    padding: 4px 12px;
    font-size: 12px;
    text-decoration: none;
    
}

.botonAccion5 {
    background-color: #493496;
    color: white;
    text-align: center;
    padding: 12px 24px;
    font-size: 12px;
    text-decoration: none;
    
}




.botonNoActivo {
  opacity: 0.3;
  cursor: not-allowed;
}

.mesasDisponibles li.afirmativo {
    list-style-image: url("../imagenes/tick.png");
}

.mesasDisponibles li.negativo {
    list-style-image: url("../imagenes/cross.png");
}


ul.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: hsl(63, 60%, 68%);
}


ul.nav2 li {float: left;}


ul.nav2 li button {
	background-color: hsl(338, 47%, 49%);
    display: block;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
}

ul.nav2 li button:hover {background-color: hsl(346, 66%, 66%);}


ul.nav2 li.derecha {float: right;}

@media screen and (max-width: 600px){
    ul.nav2 li.derecha, 
    ul.nav2 li {float: none;}
}

div.error {
	color : black;	
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
}


